/*all devices by default, including phones and tablets.*/
.task-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; /* Single column by default */
    gap: 16px;
    padding: 16px;
    box-sizing: border-box; /* Ensure padding doesn't cause overflow */
    justify-items: center; /* Center items */
}

/*devices with a screen width of 600px or more (desktops and larger tablets) */
@media (min-width: 600px) {
    .task-list {
        grid-template-columns: repeat(2, 1fr); /* Two columns on larger screens */
    }
}

@media (min-width: 900px) {
    .task-list {
        grid-template-columns: repeat(3, 1fr); /* Three columns on even larger screens */
    }
}
