/*all devices by default, including phones and tablets.*/
.filter-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
    padding: 20px;
}

/*devices with a screen width of 600px or more (desktops and larger tablets) */
@media (min-width: 600px) {
    .filter-container {
        flex-direction: row;
        align-items: center;
    }
}

.add-button {
    margin-top: 16px;
    margin-left: 16px;
}

@media (min-width: 600px) {
    .add-button {
        margin-left: 16px;
        margin-top: 0;
    }
}
