.task-list-container {
    height: calc(100vh - 200px);
    overflow-y: auto;
    width: 100%;
}

@media (min-width: 600px) {
    .task-list-container {
        height: auto;
        overflow-y: visible;
    }
}
